aside input{  
  width: 160px;
  height: 40px;
  font-weight: bold;
  border: 0;
  border-radius: 8px;  
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-left: 43px;
  background:#242020;
  transition: 400ms;
  color: white;
  font-family: Ubuntu, sans-serif;
}
aside input:hover{
 background-color: #b82f4d;
}