<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
</nav>
  <aside class="main-sidebar sidebar-dark-primary elevation-4 sidebar-no-expand">
    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../../dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Professor Fulano</a>
        </div>
      </div>
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu">
          <li class="nav-item">
            <a [routerLink]="['/home']" class="nav-link">
              <i class="nav-icon fas fa-home"></i>
              <p> Home</p>
            </a>
          </li>

          <li class="nav-item has-treeview">
            <a [routerLink]="['/atividade']"class="nav-link">
              <i class="nav-icon fas fa-pen-square"></i>
              <p>
               Atividades
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/atividade']" class="nav-link">
                  <i class="fas fa-plus-circle nav-icon"></i>
                  <p> Cadastrar</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/atividades']" class="nav-link">
                  <i class="far fa-eye nav-icon"></i>
                  <p> Visualizar</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-treeview menu-open">
            <a [routerLink]="['/aluno']" class="nav-link active">
              <i class="nav-icon fas fa-user-graduate"></i>
              <p>
               Alunos
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/aluno']" class="nav-link">
                  <i class="fas fa-plus-circle nav-icon"></i>
                  <p> Cadastrar</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/alunos']" class="nav-link active">
                  <i class="far fa-eye nav-icon"></i>
                  <p> Visualizar</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-treeview">
            <a [routerLink]="['/turma']" class="nav-link">
              <i class="nav-icon fas fa-server"></i>
              <p>
               Turmas
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a [routerLink]="['/turma']" class="nav-link">
                  <i class="fas fa-search nav-icon"></i>
                  <p> Visualizar</p>
                </a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/turmas']" class="nav-link">
                  <i class="far fa-eye nav-icon"></i>
                  <p> Buscar</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
<div class="content-wrapper">  
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Visualizar alunos</h1>
        </div>
      </div>
    </div>
  </section>


</div>
  <footer class="main-footer">
    <div class="float-right d-none d-sm-inline">
      Digital Innovation One
    </div>
    <strong>Copyright &copy; 2020 <a href="https://github.com/4lexRossi/dotNet-mongo-squad1">SQUAD 1</a>.</strong> All rights reserved.
  </footer>
</div>

<script src="../../plugins/jquery/jquery.min.js"></script>
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../dist/js/adminlte.min.js"></script>

<script src="../../plugins/moment/moment.min.js"></script>
<script src="../../plugins/inputmask/min/jquery.inputmask.bundle.min.js"></script>

<script src="../../plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="../../plugins/jquery-validation/additional-methods.min.js"></script>

<script src="../../plugins/select2/js/select2.full.min.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    $.validator.setDefaults({
      submitHandler: function () {
        alert( "Form successful submitted!" );
      }
    });
    $('#quickForm').validate({
      rules: {
        nome_aluno: {
          required: true
        },
        nome_responsavel: {
          required: true
        },
        data_nasc: {
          required: true
        },
        email: {
          email: true
        },
        sexo: {
          required: true
        }
      },
      messages: {
        email: {
          email: "Forneça um endereço de email válido"
        },
        nome_aluno: {
          required: "Forneça um nome para o aluno"
        },
        nome_responsavel: {
          required: "Forneça um nome para o responsável"
        },
        data_nasc: {
          required: "Forneça uma data"
        },
        sexo: {
          required: "Selecione uma opção"
        },
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid');
      }
    });
  });
  </script>

      <script>

     $(function () {
    $('.select2').select2()

    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/aaaa' })
    $('[data-mask]').inputmask()

  })
    </script>


</body>
</html>
