.background{

  height: 100vh;

  background: url('../../assets/img/teacher.svg') no-repeat;
  background-size: 700px;
  background-position: auto;
  background-color: #202341;
  
}
* {
  box-sizing: border-box;
  
  }

  *:focus {
    overflow: hidden;
    outline: none;
  }
  body {
  font-family: Arial;
  background-color: #343a40;

  padding: 125px;
  
  }
  .login {
  /* margin: 10px auto; */
  width: 300px;

  margin-left: 680px;
  margin-bottom: -40%;

  }
  .login-screen {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px;


  }

  .app-title {
  text-align: center;
  color: #777;
  }


  .login-form {
  text-align: center;
  }
  .control-group {
  margin-bottom: 10px;
  
  }

  input {
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
  }

  input:focus {
  border: 2px solid #3498DB;
  box-shadow: none;
  }

  .btn {
    border: 2px solid transparent;
    background: #343a40;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
  }

  .btn:hover {
    background-color: #2980B9;
  }

  .login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
  }
.image {
margin-top: -10%;
padding-bottom: 300px;

}


