/* You can add global styles to this file, and also import other style files */
@import 'assets/css/shared.css';
@import '~ngx-toastr/toastr.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* .toast-bootstrap-compatibility-fix {
  opacity:1;
} */
